{% extends('base.html.twig') %}

{% block body %}
    <div class="bg-img">
        <div class="register">
            <header>Login</header>
            <form action="{{ path('login') }}" method="post">
                <div class="field">
                    <span class="fa fa-user" style="line-height: 49px;"></span>
                    <input type="text" required placeholder="Email" name="_username">
                </div>
                <div class="field space">
                    <span class="fa fa-lock" style="line-height: 49px;"></span>
                    <input type="password" class="pass-key" required placeholder="Password" name="_password" onCopy="return false" onDrag="return false"
                           onDrop="return false" onPaste="return false">
                    <span class="show" style="line-height: 48px">SHOW</span>
                </div>
                <br><br>
                <div class="field">
                    <input type="submit" value="LOGIN">
                </div>
            </form>
            <br><br>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error}}
                </div>
            {% endif %}
            <div class="login">
                Or login with
            </div>
            <div class="links">
                <div class="facebook">
                    <i class="fab fa-facebook-f"><span>Facebook</span></i>
                </div>
                <div class="google">
                    <i class="fab fa-google"><span>Google</span></i>
                </div>
            </div>
        </div>
    </div>
    <script>
        const pass_field = document.querySelector('.pass-key');
        const showBtn = document.querySelector('.show');
        showBtn.addEventListener('click', function(){
            if(pass_field.type === "password"){
                pass_field.type = "text";
                showBtn.textContent = "HIDE";
                showBtn.style.color = "#3498db";
            }else{
                pass_field.type = "password";
                showBtn.textContent = "SHOW";
                showBtn.style.color = "#222";
            }
        });
    </script>


{% endblock %}
